name: Build Aseprite (Windows)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Aseprite source
        uses: actions/checkout@v4
        with:
          repository: aseprite/aseprite
          submodules: recursive

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Ninja
        run: choco install ninja

      - name: Cache Skia
        id: cache-skia
        uses: actions/cache@v4
        with:
          path: deps/skia
          key: skia-windows-m124-08a5439a6b

      - name: Download Skia (Windows x64)
        if: steps.cache-skia.outputs.cache-hit != 'true'
        run: |
          URL="https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Windows-Release-x64.zip"
          echo "Downloading Skia..."
          curl -L "$URL" -o skia.zip
          mkdir -p deps/skia
          unzip skia.zip -d deps/skia
          rm skia.zip

      - name: CMake Configure
        run: |
          ROOT_PATH=$(pwd -W)
          SKIA_PATH="$ROOT_PATH/deps/skia"
          
          mkdir -p build
          cd build
          
          cmake .. -G Ninja \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DLAF_BACKEND=skia \
            -DSKIA_DIR="$SKIA_PATH" \
            -DSKIA_LIBRARY_DIR="$SKIA_PATH/out/Release-x64"

      - name: Build Aseprite
        run: cd build && ninja

      - name: Generate Date
        id: date_step
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Package
        run: |
          ZIP_NAME="Aseprite-${{ steps.date_step.outputs.date }}-Windows.zip"
          
          mkdir -p package_output
          
          if [ -f "build/bin/aseprite.exe" ]; then
             cp build/bin/aseprite.exe package_output/
          else
             echo "ERROR: File aseprite.exe not found!"
             exit 1
          fi
          
          cp -r data package_output/
          
          echo "Compressing package..."
          7z a -tzip "${ZIP_NAME}" ./package_output/*
          
          echo "ASSET_PATH=$(pwd -W)/${ZIP_NAME}" >> $GITHUB_ENV

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.ASSET_PATH }}
          tag_name: latest-windows
          name: Aseprite Windows Build (${{ steps.date_step.outputs.date }})
          body: |
            - **Ngày build:** ${{ steps.date_step.outputs.date }}
            - **Hệ điều hành:** Windows x64
            - **Trạng thái:** Đã test chạy ổn định.
            
            ⚠️ *Lưu ý: Đây là bản build cá nhân phục vụ mục đích học tập/nghiên cứu.*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
